$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';

@mixin prependPrefixes($attr, $styles) {
  @each $p in $prefix {
    #{$p}#{$attr}: $styles;
  }
}

@mixin transform($styles) {
  @include prependPrefixes(transform, $styles);
}

@mixin transition($styles...) {
  @include prependPrefixes(transition, $styles);
}

@mixin transformOrigin($position) {
  @include prependPrefixes(transform-origin, $position);
}

@mixin accessibilityHide() {
  position: absolute;
  height: 1px;
  width: 1px; 
  overflow: hidden;
  clip: rect(0 0 0 0); /* IE6, IE7 */
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  border: 0;
  margin: 0;
  padding: 0;
}