@import '../../styles/colors';
@import '../../styles/mixins';

.NavHeader {
  @include transition(background-color .5s ease-in-out, border-color .5s ease-in-out);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
  padding: 0;
  z-index: 50;
  border-bottom: 1px solid #d7d7d7;
  background-color: #efefef;

  nav {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    max-width: 960px;
    margin: 0 auto;

    a {
      display: inline-block;
      margin: 0 1rem;
      min-width: 50px;
      text-align: center;
      background: rgba(255,255,255,0);
      text-decoration: none;
      color: #424242;
      font-weight: 400;
      font-size: 1rem;
      position: relative;
      line-height: 1.5;
      padding: 1rem 0;

      &:after {
        @include transition(.125s transform ease-in-out);
        @include transform(scaleX(0));
        @include transformOrigin(right);
        content: '';
        display: block;
        border-bottom: 3px solid #00a3ff;
        width: 100%;
        position: absolute;
        bottom: 0;
      }

      &:hover:after,
      &.active:after {
        @include transform(scaleX(1));
      }
    }

    > ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    .HomeLink {
      font-weight: 600;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    @media (max-width: 1000px) {
      max-width: 640px;
    }
  
    @media (max-width: 768px) {
      max-width: 520px
    }
  
    @media (max-width: 640px) {
      max-width: 420px;

      a {
        margin: 0 .5rem;
      }
    }

    @media (max-width: 480px) {
      max-width: 300px
    }
  }

  &.isDark {
    border-bottom: 1px solid #1d81c2;
    background-color: #0574bc;

    nav a {
      color: #ffffff;
    }
  }
}