@import '../../styles/colors';
@import '../../styles/mixins';

.NavHeader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
  padding: 0;
  z-index: 50;

  nav {
    display: flex;
    justify-content: flex-end;
    font-size: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;

    a {
      display: inline-block;
      margin: 0 1rem;
      min-width: 50px;
      text-align: center;
      background: rgba(255,255,255,0);
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      font-size: 1.25rem;
      position: relative;
      line-height: 1.5;

      &:after {
        @include transition(.125s transform ease-in-out);
        @include transform(scaleX(0));
        @include transformOrigin(right);
        content: '';
        display: block;
        border-bottom: 3px solid #00a3ff;
        width: 100%;
        position: absolute;
      }

      &:hover:after,
      &.active:after {
        @include transform(scaleX(1));
      }
    }
  }
}